<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391972072323-76opg9m9rg99m6oh4bef3fithps5fien.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391972072323-76opg9m9rg99m6oh4bef3fithps5fien</string>
	<key>API_KEY</key>
	<string>AIzaSyAweTZPrNY8bW4cVDL7aEgPNnD-CwKICLg</string>
	<key>GCM_SENDER_ID</key>
	<string>391972072323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>pfe-library</string>
	<key>STORAGE_BUCKET</key>
	<string>pfe-library.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391972072323:ios:da17027fca2e6755b764b6</string>
</dict>
</plist>